{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Worker Finder</title>
    <link rel="stylesheet" href='{% static "css/style.css" %}'>
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>

    <header>
        <div class="logo">
            <h1>Worker Finder</h1>
        </div>
        <nav class="menubar">
            <ul>
                <li><a href='{% url "home" %}'> Home</a></li>
                <li><a href='{% url "services" %}'>Services</a></li>
                <li><a href='{% url "about" %}'>About</a></li>
            </ul>
        </nav>
    </header>

    <section class="hero" style="padding-top: 100px;">
        <div class="hero-content">
            <h2 style="color: black;">Find the Best Workers Near You</h2>
            <p style="color: black;">Plumbers, Electricians, Carpenters, Mechanics, and more</p>
            <div class="search-container">
                <input type="text" id="location" placeholder="Search a worker" required>
                <button onclick="searchWorkers()">Search</button>
                <ul id="recommendations-list" class="recommendations"></ul>
            </div>
        </div>
    </section>

    <section class="categories">
        <h2 class="section-head2">Our Services</h2>
        <div class="service-list">
        </div>

    <section class="service-list">

        <div class="business-card" onclick="openModal('card1')">
            <img src='{% static "images/mechanic" %}' alt="mechanic">
            <h3>Mechanic</h3>
            <p>Expert vehicle repair</p>
            <a href="{% url 'login' %}"><button>View Details</button></a>
        </div>
        <div class="business-card" onclick="openModal('card2')">
            <img src='{% static "images/electrician" %}' alt="electrician">
            <h3>Electrician</h3>
            <p>Skilled and reliable service </p>
            <a href="{% url 'login' %}"><button>View Details</button></a>
        </div>
        <div class="business-card" onclick="openModal('card3')">
            <img src='{% static "images/carpenter" %}' alt="Carpenter">
            <h3>Carpenter</h3>
            <p>Custom woodwork solutions</p>
            <a href="{% url 'login' %}"><button>View Details</button></a>
        </div>
        <div class="business-card" onclick="openModal('card4')">
            <img src='{% static "images/plumber" %}' alt="Plumber">
            <h3>Plumber</h3>
            <p>Fast and reliable plumbing</p>
            <a href="{% url 'login' %}"><button>View Details</button></a>
        </div>
        <div class="business-card" onclick="openModal('card2')">
            <img src='{% static "images/movers" %}' alt="movers">
            <h3>House Movers</h3>
            <p>Expert vehicle repair</p>
            <a href="{% url 'login' %}"><button>View Details</button></a>
        </div>
        <div class="business-card" onclick="openModal('card3')">
            <img src='{% static "images/Construction" %}' alt="Construction">
            <h3>Construction Worker</h3>
            <p>Constructing the foundation for tomorrow</p>
            <a href="{% url 'login' %}"><button>View Details</button></a>
        </div>
        <div class="business-card" onclick="openModal('card4')">
            <img src='{% static "images/fabricator" %}' alt="fabricator">
            <h3>Fabricator</h3>
            <p>Fast and reliable plumbing</p>
            <a href="{% url 'login' %}"><button>View Details</button></a>
        </div>
        <div class="business-card" onclick="openModal('card2')">
            <img src='{% static "images/welder" %}' alt="welder">
            <h3>Welder</h3>
            <p>Expert vehicle repair</p>
            <a href="{% url 'login' %}"><button>View Details</button></a>
        </div>
        <div class="business-card" onclick="openModal('card3')">
            <img src='{% static "images/gardener" %}' alt="gardener">
            <h3>Landscaper / Gardener</h3>
            <p>Custom woodwork solutions</p>
            <a href="{% url 'login' %}"><button>View Details</button></a>
        </div>
        <div class="business-card" onclick="openModal('card4')">
            <img src='{% static "images/cleaner" %}' alt="cleaner">
            <h3>House Cleaner</h3>
            <p>Fast and reliable plumbing</p>
            <a href="{% url 'login' %}"><button>View Details</button></a>
        </div>
        <div class="business-card" onclick="openModal('card3')">
            <img src='{% static "images/Coconut Picker" %}' alt="Coconut Picker">
            <h3>Coconut Picker</h3>
            <p>Custom woodwork solutions</p>
            <a href="{% url 'login' %}"><button>View Details</button></a>
        </div>
        <div class="business-card" onclick="openModal('card4')">
            <img src='{% static "images/driver" %}' alt="driver">
            <h3>Driver</h3>
            <p>Fast and reliable plumbing</p>
            <a href="{% url 'login' %}"><button>View Details</button></a>
        </div>
        <div class="business-card" onclick="openModal('card3')">
            <img src='{% static "images/AC" %}' alt="AC">
            <h3>AC Technicion</h3>
            <p>Custom woodwork solutions</p>
            <a href="{% url 'login' %}"><button>View Details</button></a>
        </div>
        <div class="business-card" onclick="openModal('card4')">
            <img src='{% static "images/CCTV" %}' alt="CCTV">
            <h3>CCTV Technicion</h3>
            <p>Fast and reliable plumbing</p>
            <a href="{% url 'login' %}"><button>View Details</button></a>
        </div>
        <div class="business-card" onclick="openModal('card3')">
            <img src='{% static "images/farm" %}' alt="farm">
            <h3>Farm Worker</h3>
            <p>Custom woodwork solutions</p>
            <a href="{% url 'login' %}"><button>View Details</button></a>
        </div>
        <div class="business-card" onclick="openModal('card4')">
            <img src='{% static "images/child" %}' alt="chidcare or babysit">
            <h3>chidcare or babysit</h3>
            <p>Fast and reliable plumbing</p>
            <a href="{% url 'login' %}"><button>View Details</button></a>
        </div>

    </section>

    <footer>
        <div class="footer-links">
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Service</a>
            <div class="social-links">
                <a href="#" target="_blank">Facebook</a>
                <a href="#" target="_blank">Twitter</a>
                <a href="#" target="_blank">Instagram</a>
            </div>
        </div>
        <p>&copy; 2025 Worker Finder. All rights reserved.</p>
    </footer>

</body>
</html>